:root {
    --whiteColor: hsl(0, 0%, 100%) ;
    --slateColor: hsl(212, 45%, 89%); 
    --grayColor: hsl(216, 15%, 48%) ;
    --darkblueColor: hsl(218, 44%, 22%);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: var(--slateColor);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100%;
}
h2 {
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--darkblueColor);
}
p {
    color: var(--grayColor);
}
.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 0;
}
.card {
    background: var(--whiteColor);
    padding: 25px;
    border-radius: 15px;
    width: 360px;
    text-align: center;
}
.card-text {
    padding: 10px 15px;
}
